/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* font-family: "Poppins", sans-serif; */

/* Base font size */
.html1 {
  font-size: 62.5%;
}

@media only screen and (max-width: 768px) {
  .html1 {
    font-size: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .html1 {
    font-size: 40%;
  }
}

.body2p {
  background-color: #cbddf0;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.containerp {
  background-color: #cbddf0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: auto;
  /* margin-top: 5rem; */
}

.calculatorp {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  width: 30rem;
  margin-right: 4rem;
  margin-bottom: 3rem;
  margin-top: 5.5rem;
}

.ajubaju2 {
  margin-left: 14rem;
  display: flex;
  flex-direction: row;
}

.hhome {
  height: 15rem;
}

.top2 {
  margin-top: 1rem;
}

.calculatorp h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.calculatorp form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculatorp .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.calculatorp label {
  width: 11rem;
  margin-top: -2rem;
  margin-right: 1rem;
}

.calculatorp input[type="number"] {
  background-color: #cbddf0;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  width: 20rem;
}

.calculatorpp button[type="submit"] {
  background: linear-gradient(to right, #002b5b, #256d85);
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  align-self: center;
  margin-top: -29px;
    margin-left: 155px;
}

.calculatorp button[type="submit"]:hover {
  background: linear-gradient(180deg, #023875, #256d85);
}

.calculatorp input[type="number"]:focus {
  outline: none;
  box-shadow: 0 0 0.5rem #023875;
}
