/* *{
	box-sizing: border-box;
} */

/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* font-family: "Poppins", sans-serif; */

.body2e {
  /* min-height: 80vh; */
  width: 0;
  height: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #cbddf0;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
}
.container-exp{
  background-color: #cbddf0;
}

.containere {
  /* width: max-content; */
  /* width: 80%; */
  /* max-width: 600px; */
  /* height: 600px; */
  /* padding: 20px; */
  /* background-color: #b73333; */
  /* border-radius: 10px; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
  text-align: center;
  /* top: 45%; */
  left: 55%;
  /* transform: translate(-50%, -50%); */
  /* scroll-behavior: smooth; */
  /* overflow-y: scroll; */
}

.ajubaju3 {
  margin-left: 20rem;
  display: flex;
  flex-direction: row;
}

.expendeturecontainer{
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  width: 30rem;
  margin-left: 4rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
  margin-top: 3rem;

}
.top1 {
  margin-top: 30rem;
}

.myhr {
  border: dotted #cbddf0 6px;
  border-bottom: none;
  width: 7%;
  margin: 25px auto;
  /* margin-top: 5px; */
}

.myhre {
  border: dotted #cbddf0 6px;
  border-bottom: none;
  width: 3%;
  margin: 25px auto;
}

.sub-container {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containere label {
  display: inline-block;
  /* margin-right: -3rem; */
  width: 120px;
  font-weight: bold;
  font-size: 1rem;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #bdc3c7;
  font-size: 1rem;
  flex-grow: 1;
  background-color: #cbddf0;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.buttonalignment{
  margin-left: 25rem;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 90%;
  }

  label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    width: 100%;
  }

  .sub-container {
    flex-direction: column;
  }

  .change-password,
  .delete-account {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  .myhr1 {
    border: dotted #cbddf0 6px;
    border-bottom: none;
    width: 3%;
    margin: 10px auto;
  }
}
