/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* font-family: "Poppins", sans-serif; */

/* User Profile */
.body4 {
  box-sizing: border-box;
  /* margin: 0; */
  margin-bottom: 20px;
  /* padding: 0; */
  font-family: "Poppins", sans-serif;
  background-color: #cbddf0;
}

.user-container {
  margin: 5px auto;
  width: 80%;
  max-width: 800px;
  /* max-height: 900px; */
  /* padding: 20px; */
  /* background-color: #cbddf0; */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: absolute;
  top: 5%;
  left: 30%;
  /* transform: translate(-50%, -50%); */
}

.sub-container1 {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  display: inline-block;
  margin-right: 10px;
  width: 120px;
  font-weight: bold;
  font-size: 1rem;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #bdc3c7;
  font-size: 1rem;
  margin-right: 5px;
  /* flex-grow: 10; */
}

.myhr {
  /* border: dotted #fff 6px; */
  border: dotted #cbddf0 6px;
  border-bottom: none;
  width: 7%;
  margin: 25px auto;
  /* margin-top: 5px; */
}

.myhr1 {
  /* border: dotted #fff 6px; */
  border: dotted #cbddf0 6px;
  border-bottom: none;
  width: 3%;
  margin: 10px auto;
}
button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.change-password {
  background: linear-gradient(to right, #023875, #256d85);
  color: #fff;
  margin-right: 10px;
}

.change-password:hover {
  background: linear-gradient(180deg, #023875, #256d85);
  color: #fff;
}

.delete-account {
  background: linear-gradient(to right, #c0392b, #f34f3d);
  color: #fff;
}

.delete-account:hover {
  background: linear-gradient(180deg, #c0392b, #f34f3d);
  color: #fff;
}

.notification {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 1.2rem;
}

.notify {
  padding-top: 15px;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 5px;
}

.other {
  margin-bottom: 15px;
  margin-top: 10px;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 90%;
  }

  label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    width: 100%;
  }

  .sub-container1 {
    flex-direction: column;
  }

  .sub-container2 {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .change-password,
  .delete-account {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  .notification {
    font-size: 1rem;
    padding: 5px;
  }
}

/* Notification Preferences */

.preferences-container {
  margin-top: 40px;
}

.preferences-container h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.preferences-container h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.preference-options {
  display: flex;
  align-items: center;
  padding-top: 15px;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 5px;
}

.preference-options label {
  margin-right: 10px;
  font-size: 1rem;
}

.preference-options select {
  margin-right: 10px;
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #bdc3c7;
}

.preference-options input[type="checkbox"] {
  margin-right: 60px;
  margin-left: -60px;
}

.notification-line {
  display: flex;
  align-items: center;
}

.notification-line h3 {
  font-size: 1.2rem;
  margin-right: 10px;
}

.alert-line {
  display: flex;
  align-items: center;
}

.alert-line h3 {
  font-size: 1.2rem;
  margin-right: 10px;
}

.preferences-container hr {
  border: dotted #cbddf0 5px;
  border-bottom: none;
  width: 5%;
  margin: 20px auto;
}

/* pop up modal  */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  /* chnages made here */
  margin-right: 70px;
  margin-top: 30px;
}

/* notification  */

.notification1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.notification-message {
  flex-grow: 1;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.close-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #999;
  cursor: pointer;
}
